<div class="container w-50 bg-light p-4 rounded" style="margin-top: 12%;">
    <form class="px-4" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h3 class="text-center">Codeforces rating newsletter</h3>
      <div class="form-group">
        <label for="handle">Codeforces handle</label>
        <input
          type="text"
          formControlName="handle"
          id="handle"
          class="form-control"
          placeholder="Enter codeforces handle"
        />
        <div *ngIf="!userForm.controls.handle.valid && (userForm.controls.handle.dirty ||userForm.controls.handle.touched)">
            <p [hidden]="!userForm.controls.handle.errors?.['required']" style="color: red;">
              Handle is required
            </p>
      </div>
        <label for="email">Enter email that is registered on codeforces</label>
        <input
          type="email"
          formControlName="email"
          id="email"
          class="form-control"
          placeholder="Enter email"
        />
        <div *ngIf="!userForm.controls.email.valid && (userForm.controls.email.dirty ||userForm.controls.email.touched)">
            <p [hidden]="!userForm.controls.email.errors?.['pattern']" style="color: red;">
              Please enter valid email
            </p>
            <p [hidden]="!userForm.controls.email.errors?.['required']" style="color: red;">
              Email is required
            </p>
          </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
    </form>
  </div>
  